body { padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select { max-width: 280px; }

/* Set padding to display errors that occur during databinding */

.padding-error { padding-top: 20px; }

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

/*==================== My Styles =======================*/
textarea {
    width: 100% !important;
}
.regular_cursor {
    cursor: default !important;
}
.post_text {
    border: 1px dashed gray;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 10px;
    display: block;
    width: 95%;
}
.post_area {
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
}
.action_btn_section {
    margin-top: 5px;
    margin-bottom: 20px;
}
.deleted {
    color: lightgray !important;
}
.comment_text {
    border: 1px dashed blue;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    display: block;
}
.create_new_post_section {
    display: block;
    margin-bottom: 40px !important;
}
footer {
    margin-top: 50px;
}